.seat_arrangement {
	display: block;
	font: normal 13px 'Open Sans', Tahoma;
	color: #999;
	padding: 20px;
	border-top: #ccc solid thin;
	overflow: hidden;
	background: #fff;
}

.picked_seat {
	font-weight: bold;
}

.seat {
	float: left;
	width: 16px;
	height: 19px;
	cursor: pointer;
	margin-left: 6px;
	background-image:url('../images/seat.gif');
	background-repeat:no-repeat;
}

.pull-right {
	margin-right: 6px;
}

.booked_seat {
	float: left;
	width: 16px;
	height: 18px;
	background-image:url('../images/booked_seat.gif');
	margin-left: 7px;
	background-repeat:no-repeat;
	cursor:default;
}

.seat:hover{background-image:url('../images/highlighted_seat.gif')}

.seat_wrap {
	float: right;
	padding: 5px;
	background-color:#fff;
	border:#ccc solid thin;
	border-radius:2px;
	margin: auto;
	margin-top: 20px;
	width: 106px;
	overflow: hidden;
}

.seat-tips > ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	line-height:21px
}

.seat-tips > ul > li {
	line-height:29px
}

.available_seat, .selected_seat, .booked-seat, .steering-wheel {
	background-repeat:no-repeat;
	background-position:0px 3px;
	padding-left:25px;
}

.selected_seat {background-image:url(../images/selected_seat.gif);}
.available_seat {background-image:url(../images/seat.gif);}
.booked-seat {background-image:url(../images/booked_seat.gif);}
.steering-wheel { background-image:url(../images/steering.gif); }

.seat-row {
	clear: both;
	width: 110px;
	height: 30px;
	margin: auto;
}

.front-row {
	float: right;
	width: 27px;
	margin-bottom: 11px;
	/*margin-right: 11px;*/
}

.front-row .seat, .front-row .bookedseat {
	float: right;
	margin-right: 6px;
	margin-left: 0;
}

.seat-row .th-hide {
	float:left;
	visibility: hidden;
	width: 20px;
	height: 17px;
	margin-left: 2px;
}

.steering {
	height: 20px;
	background-image:url(../images/steering.gif);
	/*width: 20px;*/
	background-repeat:no-repeat;
	background-position:bottom;
	background-position: 4px 1px;
	margin-bottom: 10px;
}

.continue-btn {
	position: relative;
}

.seat-details {
	margin-top: -11%;
}

/* mini-bus style 10, 14, 15 seats */
.mini-bus {

}

.mini-bus .seat-tips, .nissian-urvan .seat-tips, .sienna .seat-tips {
	margin-top: 30px;
	margin-left: 100px;
}


.mini-bus .seat-details, .sienna .seat-details, .nissian-urvan .seat-details {
	position: relative;
	top: 22px;
	left: 105px;
}

.nissian-urvan .seat-row {
	width: 80px!important;
}

/* Sienna bus 5 & 6 seats */
.sienna {
	margin: auto;
}

.sienna .front-row {
	margin-top: -5px;
	width: 28px;
}

.sienna .seat-row {
	margin-right: 0px;
}

.sienna .steering {
	margin-top: 30px;
}

.sienna .push-seat {
	margin-left: 35px !important;
}

.sienna .seat_wrap {
	margin-top: 27px;
	margin-left: 90px;
	height: 170px;
	padding: 2px 13px !important;
}

.sienna .seat-details {
	margin-top: 30px;
}

.sienna .continue-btn {
	margin-top: 1px;
}

.luxury .seat {
	margin-left: 8px;
}

.luxury .seat_wrap {
	padding: 0;
	padding-top: 6px;
	width: 125px;
}

.luxury .cols {
	padding-bottom: 4px;
	overflow: hidden;
}

.luxury .steering {
	background-position: 10px 0;
}

.luxury .seat-tips {
	position: relative;
	left: 140px;
	margin-top: 110px;
}

.luxury .seat-details {
	position: relative;
	top: 70px;
	left: 145px;
}

.luxury .continue-btn {
	top: 120px;
}

#right_seats, #left_seats {
	float: left;
	position:relative;
	padding:5px;
	overflow:auto;
}


/* mobile devices */
@media screen and (min-width: 300px) and (max-width: 600px) {

	.seat_arrangement {
		color: #666;
	}

	.seat-tips {
		margin-top: -4px;
	}

	.seat-tips ul {
		list-style-type: none;
		position: relative;
		margin-left: -50px;
		margin-top: 50px;
	}

	.seat-tips ul li {
		margin-left: 15px;
		line-height: 29px;
	}

	.seat_wrap {
		margin-top: 20px;
		float: right;
	}

	.seat_arrangement .glyphicon-remove {
		display: none;
	}

	 /*sienna*/
	.sienna .continue-btn {
		margin-top: -5px;
	}

	/*.sienna .seat_wrap {
		margin-top: 23px;
	}*/

	.mini-bus .seat-details, .sienna .seat-details, .nissian-urvan .seat-details {
		position: relative;
		top: 77px;
		left: -181px;
		float: left;
	}

	.sienna .seat-details {
		top: 25px;
	}

	.mini-bus .continue-btn {
		margin-top: 46px;
	}

	.mini-bus .seat-tips, .nissian-urvan .seat-tips, .sienna .seat-tips {
		margin-top: 10px;
		margin-left: 40px;
	}

	.luxury .continue-btn {
		top: 165px;
	}

	.luxury .seat-tips {
		margin-top: 70px;
		margin-left: -90px;
	}

	.luxury .seat-details {
		float: left;
		top: 50px;
		left: 20px;
	}
}