html { min-height: 100%; position: relative; }

body {
	font: normal 16px 'Open Sans', sans-serif;
	margin-bottom: 300px;
	color: #4c4c4c;
	background-image: url('../images/bg1.png');
	background-repeat: repeat;
}

header {
	position: relative;
	z-index: 3;
	background-color:#2f353e;
	/*height: 50px;*/
}

#banner-container {
	width: 90% !important;
	margin: auto;
}

#logo {
	position: relative;
	top: 8px;
	width: 200px;
}

.navbar {
	border: none;
}

.navbar-default {
	background-color:#2f353e !important;
}

.nav-links { float: right; }

ul.nav li a {
	font: 300 16px "Open Sans", sans-serif;
	color: #ccc !important;
	margin-top: 16px;
}

ul.nav li a:hover { color: #999 !important; }


h1, h2, h3, h4, b {
	color: #333;
}

h1, h2, h3, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 2px;
}

h5 {
	font-size: 21px;
	margin-bottom: 13px;
	color: #333;
}

a:link, a:visited {
	color: #666;
}

a.btn-primary, .btn-fill:visited {
	background-color: #515b6b;
	border-color: #515b6b;
	color:#fff;
}

.alert {
  padding: 10px 35px 10px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #c09853;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.th-mobile {
	display: none;
}

.th-desktop {
	display: block;
}

.transparent {
	position:relative;
	-moz-opacity:0.5 !important;
	opacity: 0.5 !important;
	filter: alpha(opacity=50);
}

.red { color: #FF3B30; }

.action-icons .fa {
	padding: 1px 5px;
	color: #9a9a9a;
}

footer {
	position: absolute;
	color: #666;
	bottom: 0;
	width: 100%;
	min-height: 300px;
    background-color:#ddd;
	padding: 15px 0;
	/*background: #333;*/
	font-size: 15px;
	font-weight: 300;
}

footer .container {
	/*border-top: #c0c0c0 solid thin;*/
	padding-top: 15px;
}

.footer-nav {
	list-style-type: none;
	/*float: left;*/
	margin-left: -52px;
}

.footer-nav li {
	/*float: left;*/
	margin-left: 15px;
	line-height: 24px;
}

.footer-nav a:link {
	color: #3f3f3f;
}

.footer-nav a:visited {
	color: #3f3f3f;
}

.footer-nav a:hover {
	font-weight: 400;
	text-decoration: none;
}

footer .socials {
	margin-top: 7px;
	text-align: right;
}

footer .socials .fa {
	margin-right: 10px;
	color: #ddd;
}

footer .bottom-footer {
	position: absolute;
	background-color: #343434;
	font-weight: 400;
	font-size: 13px;
	color: #ccc;
	bottom: 0;
	width: 100%;
	padding: 30px;
}

#footer-emblem {
	width: 55px;
	margin-top: 18px;
}

.bottom-footer a:link {
	color: #ccc;
}

.bottom-footer a:visited {
	color: #ccc;
}



@media screen and (min-width: 320px) and (max-width: 600px) {
	body {
		font-size: 11px !important;
		margin-bottom: 0;
	}
	
	#banner-container {
		width: auto !important;
	}

	.th-mobile {
		display: block;
	}

	.th-desktop {
		display: none;
	}

	#logo {
		margin-left: 10px;
	}

	.nav-links {
		float: left !important;
	}

	.navbar-default {
		/*height: auto !important;*/
	}


	.navbar-collapse {
		border: none;
		float: left;
		text-align: left;
	}
	
	footer, footer .bottom-footer {
		position: relative;
	}

	footer .socials {
		text-align: center;
	}

	h1 { font-size: 30px; }

	.f-block { margin-left: 50px; }

	.payment-imgs { display: none; }
}
